version: "3.9"

services:
  postgres16:
    image: postgres:16
    container_name: postgres16
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres16_data:/var/lib/postgresql/data
    restart: always

volumes:
    postgres16_data: